body{
    font-family: 'Nunito', sans-serif;
    background-color: #171927;
    color: white;
}
main{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.titulo{
    display: flex;
    justify-content: center;
    font-weight: 1000;
}

.subtitulo{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.social-telefone .icon-tel {
    margin-left: 10px;
}

.divisao{
    padding-right: 0.5rem;
    border-right: 2px solid #a7a9ac;
}
.social img{
    height: 3rem;
    margin-left: 0.25rem;
}

.social span{
    font-size: 140%;
    color: #BB2D3B;
}

.formulario{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.forms label{
    align-self: flex-start;
    margin-left: 25%;
    font-size: 130%;
}

.caixa-texto{
    width: 50%;
}

.enviar{
    margin: 0 25% 0 25%;
}


.mapa{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    color: #35dfda;
}

.mapa img{
    height: 6rem;
    margin: -0.5rem;
}

.mapa iframe{
    width: 80%;
}

@media (max-width: 1000px) {
    .subtitulo {
        text-align: center;
    }
    
    .social{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: baseline;
        margin-top: 2rem;
    }

    
    .social-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-email .icon-email {
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .social-telefone {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .social-telefone .icon-tel {
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .divisao{
        padding-right: 0.5rem;
        border-right: 2px solid #a7a9ac;
    }

    .forms label{
        align-self: flex-start;
        margin-left: 10%;
        font-size: 130%;
    }
    
    .caixa-texto{
        width: 80%;
    }
    
    .enviar{
        margin: 0 10% 0 10%;
    }

    .mapa{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 130%;
        color: #35dfda;
    }
    
    .mapa img{
        height: 4rem;
        margin: -0.5rem;
    }
    .mapa label{
        text-align: center;
        margin-bottom: 2rem;
    }
    .mapa iframe{
        width: 70%;
    }
}

@media (max-width: 550px){
    .social-telefone{
        margin-top: 0.5rem;
    }

    .social{
        display: flex;
        flex-direction: column;
    }

    .divisao{
        padding-right: 0.5rem;
        border-right: 0px solid #a7a9ac;
    }

    .social-email{
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #a7a9ac;
    }
}


@media (max-width: 280px){
    .social-telefone{
        margin-top: 0.5rem;
    }

    .divisao{
        padding-right: 0rem;
        border-right: 0px solid #a7a9ac;
    }

    .social-email{
        padding-bottom: 0rem;
        border-bottom: 0px solid #a7a9ac;
    }
    .social img{
        height: 2.5rem;
    }

    .social{
        font-size: 80%;
    }
}