body{
    font-family: 'Nunito', sans-serif;
    background-color: #0f1223;
    color: white;
    overflow-x: hidden;
}

.titulo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.titulo-produtos{
    margin-top: 10rem;
    max-height: 8rem;
}

.cont-custom {
    width: 70%;
}

.titulo-monster{
    margin-top: 10rem;
    margin-left: -6vh;
    max-height: 8rem;
}

.tabela{
    margin-left: 10%;
    margin-right: 10%;
}

.table-custom{
    background-color: #a7a9ac;
    border-radius: 5px;
}

.carousel-modal{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.img-edicao{
    margin-bottom: 1rem;
}

.imagem-teste{
    align-self: center;
    border-radius: 5px;
    width: 45vh;
    max-width: 100%;
}

@media (max-width:1000px) {
    .titulo-monster{
        margin-left: 0;
    }
}