body {
    background-color: #171926;
    font-family: 'Nunito', sans-serif;
}

.title {
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.logo{
    margin-right: 1rem;
}


.cont-custom {
    width: 70%;
    padding-right: 2rem;
    padding-left: 2rem;
}

.table-custom {
    background-color: #a7a9ac;
}

.btn-add {
    margin-bottom: 1rem;
}

.imagem-modal{
    display: flex;
    flex-direction: column;
}

.imagem-teste{
    align-self: center;
    border-radius: 5px;
    width: 45vh;
    max-width: 100%;
}

.carousel-modal{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


/* Scroll-bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #a7a9ac;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a53339;
    border-radius: 6px;
}

@media (max-width:1300px)
{
    .usuarios-logo{
        margin-right: 0;
    }
    
    .monster-logo{
        margin-left: 0;
    }
}

@media (max-width: 500px)
{
    .btn-custom {
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }
}