<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/frontend_admin_navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2b94009ee2.js" crossorigin="anonymous"></script>

    <title>Frontend SideNavbar do administrador</title>
</head>

<body >     
            <input type="checkbox" id="check">

            <div class="retangle">           

                    <div class="btn-menu">
                    <label class="label1" for="check">
                        <ion-icon class="icone1" name="menu-outline" id="sidebar_btn"></ion-icon>
                    </label>
                    </div>

                    <img class="imgname" src="../../public/img/MonsterShop-name.png " alt="MonsterShop">

            </div>
            
                <!--sidebar começo-->
                <div class="sidebar">
                    <center>
                        <img src="../../public/img/monsterShop_oficial.png" class="image" alt="">
                        <h2>Admin</h2>
                    </center>
                    <a href="#"><i class="fa-solid fa-user-gear"></i><span> Dashboard</span></a>
                    <a href="#"><i class="fa-solid fa-users">  </i><span> Usuários</span></a>
                    <a href="#"><i class="fa-solid fa-cart-shopping"> </i><span> Produtos</span></a>
                    <a href="#"><i class="fa-solid fa-list"> </i><span> Categorias</span></a>
                    <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> </i><span> Sair</span></a>

                </div>
                <!--sidebar final-->
                <div class="content"></div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
</body>

</html>