<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/front_admin_produtos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/2b94009ee2.js" crossorigin="anonymous"></script>
    <title>ADM - Produtos</title>
</head>
<body>
    
            <!-- Tabela-Start -->
            <div class="tabela">
                <table class="table table-hover table-bordered border-dark table-custom">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>(nome-produto-1)</td>
        
                            <td>
                                <!-- Botão de vizualização -->
                                <button type="button" class="btn-custom btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#mod-visualizar">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
        
                                <!-- Modal de vizualização -->
                                <div class="modal fade" id="mod-visualizar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Vizualização</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Nome</label>
                                                        <input class="form-control" type="text" value="Nome do produto" aria-label="Disabled input example" disabled readonly>
                                                    </div>
                                                    <div class="mb-3 imagem-modal">
                                                        <label for="exampleInputPassword1" class="form-label">Imagem</label>
                                                        <img src="../../public/assets/MonsterShop-logo (1).png" alt="" class="imagem-teste">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Categoria</label>
                                                        <input class="form-control" type="text" value="categoria-teste" aria-label="Categoria teste" disabled readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Descrição</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>Diam sanctus gubergren justo sanctus erat, rebum stet magna dolore dolores magna, est aliquyam ut dolore eos et stet voluptua.</textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Preço</label>
                                                        <input class="form-control" type="text" value="R$ 99.99" aria-label="Disabled input example" disabled readonly>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Botão de Edição -->
                                <button type="button" class="btn-custom btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#mod-editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
        
                                <!-- Modal de edição -->
                                <div class="modal fade" id="mod-editar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Form de Edição -->
                                                <form>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Nome</label>
                                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome-teste">
                                                    </div>
                                                    <form>
                                                        <div class="form-group img-edicao">
                                                            <label for="exampleFormControlFile1">Imagem do produto</label>
                                                            <br>
                                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                        </div>
                                                    </form>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Categoria</label>
                                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="categoria-teste">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Descrição</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                                            aria-describedby="emailHelp" placeholder="Descrição do produto">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Preço</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="R$ 99.99">
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Fechar</button>
                                                <button type="button" class="btn btn-primary">Salvar Alterações</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
        
        
                                <!-- Botão de exclusão -->
                                <button type="button" class="btn-custom btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#mod-excluir">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
        
                                <!-- Modal de confirmação de exclusão -->
                                <div class="modal fade" id="mod-excluir" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Confirmação de exclusão</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja excluir esse produto?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger">Excluir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>