<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/quem-somos.css">
    <title>Quem Somos?</title>
</head>
<body>
    
    <div class="nav-bar"></div>

    </div>
    <div class="margin_container">
        <div class="quem_somos">
            <h1>Quem Somos?</h1>
            <p>Criada em 2022, a MonsterShop é uma empresa jovem com um time inteiramente formado por profissionais especializados e apaixonados pela área de esportes físicos.
            </p>
        </div>
        <div class="missao">
            <h1>Missao</h1>
            <p>O grupo Monster tem um compromisso firmado com a saúde! Nosso principal objetivo é comercializar produtos que possam auxiliar as pessoas a melhorarem sua saúde física, estimulando a compra de equipamentos para exercício físico para cada tipo de pessoa.
            </p>
        </div>
        <div class="visao">
            <h1>Visao</h1>
            <p>Temos como visão nos tornarmos uma empresa de referência nacional na área de comercialização de equipamentos voltados à esportes físicos
            </p>
        </div>
        <div class="valores">
            <h1>Valores</h1>
            <p> Apaixonados por esportes<br>
                - Responsabilidade<br>
                - Qualidade<br>
                - Vitalidade<br>
                </p>
        </div>
    </div>
    
</body>
</html>