body{
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/dashboard/fundo-metade.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #171927;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    backdrop-filter: blur(0) saturate(13%);
    -webkit-backdrop-filter: blur(0) saturate(13%);
    background-color: rgba(23, 25, 38, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulo-adm{
    max-width: 80%;
    height: 15vh;
}

.titulo-monster{
    margin-top: -5%;
    max-width: 80%;
    height: 15vh;
}

.content{
    display: flex;
    flex-direction: column;
    width: 40rem;
    max-width: 80%;
}

.botao{
    margin-bottom: 1rem;
    width: 100%;

}

.botao:hover{
    background-color: #BB2D3B;
    
}

.logout{
    width: 4rem;
}

@media (max-width: 1000px) {
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 20%;
    }
    
    .titulo-adm{
        max-width: 80%;
    }
    
    .titulo-monster{
        max-width: 80%;
        margin-top: -5vh;
    }

}

@media (max-width: 700px) {
    body{
        background-image: none;
    }
}