body{
    font-family: 'Nunito', sans-serif;
    background-color: #171927;
    color: white;
}

.titulo{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulo-produtos{
    max-height: 8rem;
}

.titulo-monster{
    margin-left: -6vh;
    max-height: 8rem;
}


.table-custom{
    background-color: #a7a9ac;
    border-radius: 5px;
}

.imagem-modal{
    display: flex;
    flex-direction: column;
}

.img-edicao{
    margin-bottom: 1rem;
}

.imagem-teste{
    align-self: center;
    border-radius: 5px;
    width: 45vh;
}
@media (max-width:1070px) {
    .titulo-monster{
        margin-left: 0;
    }
}