body {
    background-color: #171927;
    font-family: 'Nunito';
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1%;
}


.imgCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    
}


.botoes1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1%;
}


.table-custom {
    background-color: #a7a9ac;
}


@media (max-width: 500px) 
{
    .btn-custom {
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f1223;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a53339;
    border-radius: 6px;
}