body{
    background-color: #171927;
    color: white;
    font-family: 'Heebo', sans-serif;
}

hr{
    color: #a7a9ac;
}

.produto-principal, .recomendacoes, .produtos-recomendados{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
    width: 80%;
}

.produto-principal{
    height: 400px;
    display: flex;
    align-content: center;
}

.produto-principal h1{
    font-size: 32px;
}

.produto-principal h2{
    margin-left: 25px;
    opacity: 70%;
    font-size: 20px;
}

.produto-principal img{
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.opcoes-de-compra{
    height: 200px;
    border-radius: 10px;
    background: #292c46;
}

.opcoes-de-compra h1{
    margin-top: 10px;
    margin-left: 10px;
}

.opcoes-de-compra h2{
    font-size: 16px;
    opacity: 70%;
    margin-left: 20px;
}

.opcoes-de-compra h3{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

.opcoes-de-compra2{
    height: 400px;
    border-radius: 10px;
    background: #292c46;
}

.opcoes-de-compra2 h1{
    margin-top: 10px;
    margin-left: 10px;
}

.opcoes-de-compra2 h3{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

.input-cep{
    padding-left: 25px;
    padding-right: 25px;
    flex-wrap: nowrap;
}

.input-cep button{
    color: white;
}

.dropdown-opcoes{
    margin-right: 10px;
}

.btn-quantidade{   
    display: flex;
    margin-top: 5px;
    margin-left: 25px;
    height: 40px;
    width: 120px;
}

.input-qtde{
    border: 0px;
    border-radius: 0px;
    text-align: center;
}

.diminuir-quantidade{
    background-color: #a53339;
    border-radius: 10px 0px  0px 10px;
    border: 0px;
}

.aumentar-quantidade{
    border-radius:  0px 10px 10px 0px ;
    border: 0px;
}

.btn-tamanho{
    margin-top: 5px;
    margin-left: 25px;
    width: 10%;
}

.btn-comprar{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.btn-comprar :hover{
    background-color: #35dfda;
}

.formas-de-pagamento{
    margin-left: 25px;
}

.lista-recomendacoes{
    display: flex;
    justify-content: space-between;
}

.recomendacoes h1{
    font-size: 26px;
}

.cartoes2 {
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    background-color: #292c46;
    margin-bottom: 50px;
    
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.cartoes2:hover{
    margin-top: 50px;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.corpocards {
    border-radius: 5px;
}

.informacoes-produto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: black;
}

.informacoes-produto button{
    font-size: 26px;
    color: white;
    background-color: #292c46;
}

.avaliacoes-produto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: black;
}

.avaliacoes-produto button{
    font-size: 26px;
    color: white;
    background-color: #292c46;
}

.avaliacoes-produto button.collapsed{
    font-size: 26px;
    color: white;
    background: #292c46;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
}

.col-sm{
    border-radius: 10px;
    background-color: #292c46;
    margin-top: 25px;
    height: 430px;
    border: 2px #171927 solid;
}


.img-produto-principal{
    justify-content: center;
    align-items: center;
}

.img-produto-principal img{
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-top: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   -webkit-transition: -webkit-transform .5s ease;
   transition:  .5s ease;
}

.img-produto-principal :hover{
    margin-top: 20px;
    margin-bottom: 25px;
    transform: scale(1.12);
}

.recomendacoes-responsivo, .cartoes2-responsivo, .carousel-control-prev, .carousel-control-next{
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0f1223;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a53339;
    border-radius: 6px;
}

@media (max-width: 510px){

    .img-produto-principal{
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    

    .img-produto-principal img{
        border-radius: 10px;
        height: auto;
        width: 80%;
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        
       -webkit-transition: -webkit-transform .5s ease;
       transition:  .5s ease;
    }
    
    .img-produto-principal :hover{
        margin-top: 30px;
        margin-bottom: 25px;
        transform: scale(1.3);
    }
    
    .opcoes-de-compra{
        height: 300px;
        margin-left: 0%;
    }

    
.opcoes-de-compra h1{
    margin-top: 10px;
    margin-left: 5px;
}

.opcoes-de-compra h2{
    font-size: 16px;
    opacity: 70%;
    margin-left: 10px;
}

.opcoes-de-compra h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.opcoes-de-compra2{
    height: 380px;
    border-radius: 10px;
    background: #292c46;
}

.opcoes-de-compra2 h1{
    margin-top: 5px;
    margin-left: 5px;
}

.opcoes-de-compra2 h3{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
}

.cartoes2, .lista-recomendacoes{
    display: none;
}

.recomendacoes-responsivo, .cartoes2-responsivo, .carousel-control-prev, .carousel-control-next{
    display: flex;
}

.cartoes2-responsivo{
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    background-color: #292c46;
    margin-bottom: 50px;
    
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.recomendacoes-responsivo{
    justify-content: center;
}


}