body{
    background-color: #171927;
    color: white;
    font-family: 'Heebo', sans-serif;
}

hr{
    color: #a7a9ac;
}

.produto-principal, .recomendacoes, .produtos-recomendados, .informacoes-compra{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
    width: 80%;
}

.produto-principal{
    height: 400px;
    display: flex;
    align-content: center;
}

.produto-principal h1{
    font-size: 32px;
}

.produto-principal h2{
    margin-left: 25px;
    opacity: 70%;
    font-size: 20px;
}

.produto-principal img{
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.opcoes-de-compra{
    margin-top: 0px;
    margin-left: 10px;
    height: 400px;
    width: 35%;
    border-radius: 10px;
    background: #292c46;
}

.opcoes-de-compra h1{
    margin-top: 10px;
    margin-left: 10px;
}

.opcoes-de-compra h3{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

.informacoes-compra{
    margin-top: 0px;
    margin-left: 10px;
    height: 400px;
    width: 35%;
    border-radius: 10px;
    background: #292c46;
}

.informacoes-compra h1{
    margin-top: 10px;
    margin-left: 10px;
}

.informacoes-compra h3{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

.input-cep{
    padding-left: 25px;
    padding-right: 25px;
}

.input-cep button{
    color: white;
}

.dropdown-opcoes{
    margin-right: 10px;
}

.btn-quantidade{   
    display: flex;
    margin-top: 5px;
    margin-left: 25px;
    height: 40px;
    width: 120px;
}

.input-qtde{
    border: 0px;
    border-radius: 0px;
    text-align: center;
}

.diminuir-quantidade{
    background-color: #a53339;
    border-radius: 10px 0px  0px 10px;
    border: 0px;
}

.aumentar-quantidade{
    border-radius:  0px 10px 10px 0px ;
    border: 0px;
}

.btn-tamanho{
    margin-top: 5px;
    margin-left: 25px;
    width: 10%;
}

.btn-comprar{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.btn-comprar :hover{
    background-color: #35dfda;
}

.formas-de-pagamento{
    margin-left: 25px;
}

.lista-recomendacoes{
    display: flex;
    justify-content: space-between;
}

.recomendacoes h1{
    font-size: 26px;
}

/* TESTE */
.cartoes2 {
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    background-color: #292c46;
}

.corpocards {
    border-radius: 5px;
}

.informacoes-produto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: black;
}

.informacoes-produto button{
    font-size: 26px;
    color: white;
    background-color: #292c46;
}

.avaliacoes-produto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    color: black;
}

.avaliacoes-produto button{
    font-size: 26px;
    color: white;
    background-color: #292c46;
}

.avaliacoes-produto button.collapsed{
    font-size: 26px;
    color: white;
    background: #292c46;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
}

.col-sm{
    background-color: red;
    margin-top: 25px;
    height: 500px;
    border: 5px green solid;
}

.img-produto-principal{
    border-radius: 10px;
    height: 400px;
}