body {
    background-color: #171927;
    color: aliceblue;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.img-fundo {
    background-color: yellow;
    width: 100%;
   
}    

.carousel-home {
    background-color: greenyellow;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.cartas {
    display: grid;
    width: 100vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 100px;
}    

.card1 {
    width: 100%;
    height: 100%;
    background-color: #a7a9ac;
    border-color: #a53339;
}    

.btn-primary {
    background-color: #a53339;
    border-color:#a53339;
    color: black;
}