body {
    color: aliceblue;
    background-image: url(../../public/img/monsterShop_oficial.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ele h1, .ele h2{
    display: flex;
    justify-content: center;
}

