body {
    background-color: #171927;
    color: aliceblue;
    /* background-image: url(../../public/img/monsterShop_oficial.png); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;;
}

.navbar-custom {
    background-color: #171927 !important;
    height: 70px;
    width: 100%;
    font-size: 18px;

    display: flex !important;
    align-items: center !important;
}

.navbar-custom a {
    color: white !important;
}

.link-nav:hover {
    color: #35dfda !important;
    transition: 0.5s;
}

.navbar-custom img {
    width: 70px;
    height: 70px;
}

.navbar-custom button {
    color: white !important;
}

.navbar-center {
    display: flex !important;
    align-items: center !important;
}
