body{
    background-image: linear-gradient(rgb(23, 25, 39, 0.7), rgb(23, 25, 39, 1)), url(../../public/img/MonsterShop-logo-sem-nome.png);
    margin: 0px;
    background-size: cover;
    background-color: #171927;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    font-family: 'Heebo', sans-serif;
}

body p{
    font-size: 26px;
}

body h1{
    font-size: 50px;
}

body li{
    font-size: 26px;
}

body span{
    text-decoration: underline;
}

.quem_somos{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    float: left;
}
.quem_somos h1{
    color: #35dfda;
}
.quem_somos img{
    width: 100px;
    height: 100px;
}

.missao{
    margin-left: 10%;
    margin-right: 10%;
    float: right;
    margin-top: 50px;
    text-align: start;
}
.missao h1{
    color: #a53339;
}

.visao{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    float: left;
}
.visao h1{
    color: #35dfda;
}

.valores{
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    margin-top: 50px;
    text-align: start;
}
.valores h1{
    color: #a53339;
}

.descricao-esq{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.descricao-esq p, ul{
    width: 70%;
}
.descricao-esq il{
    margin-top: 20px;
}
.descricao-esq img{
    width: 220px;
    height: 220px;
}

@media (max-width: 1098px){
    
.quem_somos{
    margin-top: 50px;
    float: center;
    text-align: center;
}
.quem_somos h1{
    color: #35dfda;
}

.missao{
    margin-left: 10%;
    margin-right: 10%;
    float: center;
    margin-top: 50px;
    text-align: center;
}
.missao h1{
    color: #a53339;
}

.visao{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    float: center;
    text-align: center;
}
.visao h1{
    color: #35dfda;
}

.valores{
    margin-left: 10%;
    margin-right: 10%;
    float: center;
    margin-top: 50px;
    text-align: center;
}
.valores h1{
    color: #a53339;
}

.descricao-esq{
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.descricao-esq p, ul{
    list-style: none;
    width: 75%;
}
.descricao-esq il{
    margin-top: 20px;
}
.descricao-esq img{
    width: 220px;
    height: 220px;
    order: -1;
    margin-top: 30px;
    margin-bottom: 30px;
}
}